@{
    ViewBag.Title = "Đăng ký";
}
<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Đăng ký</h4></header>
            <form asp-action="Register" asp-controller="UsersController" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Họ</label>
                    <input type="text" class="form-control @(ViewData.ModelState["firstname"]?.Errors.Count > 0 ? "is-invalid" : "")" name="firstname" value="@Model.firstname">
                    <span class="text-danger">@Html.ValidationMessage("firstname")</span>
                </div>

                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control @(ViewData.ModelState["lastname"]?.Errors.Count > 0 ? "is-invalid" : "")" name="lastname" value="@Model.lastname">
                    <span class="text-danger">@Html.ValidationMessage("lastname")</span>
                </div>

                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input type="text" class="form-control @(ViewData.ModelState["username"]?.Errors.Count > 0 ? "is-invalid" : "")" name="username" value="@Model.username">
                    <span class="text-danger">@Html.ValidationMessage("username")</span>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control @(ViewData.ModelState["email"]?.Errors.Count > 0 ? "is-invalid" : "")" name="email" value="@Model.email">
                    <span class="text-danger">@Html.ValidationMessage("email")</span>
                </div>

                <div class="form-group">
                    <label>Điện thoại</label>
                    <input type="text" class="form-control @(ViewData.ModelState["phone"]?.Errors.Count > 0 ? "is-invalid" : "")" name="phone" value="@Model.phone">
                    <span class="text-danger">@Html.ValidationMessage("phone")</span>
                </div>

                <div class="form-group">
                    <label>Tạo mật khẩu</label>
                    <input class="form-control @(ViewData.ModelState["password"]?.Errors.Count > 0 ? "is-invalid" : "")" type="password" name="password">
                    <span class="text-danger">@Html.ValidationMessage("password")</span>
                </div>

                <div class="form-group">
                    <label>Nhập lại mật khẩu</label>
                    <input class="form-control @(ViewData.ModelState["confirm_password"]?.Errors.Count > 0 ? "is-invalid" : "")" type="password" name="confirm_password">
                    <span class="text-danger">@Html.ValidationMessage("confirm_password")</span>
                </div>

                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control @(ViewData.ModelState["address"]?.Errors.Count > 0 ? "is-invalid" : "")" name="address" value="@Model.address">
                    <span class="text-danger">@Html.ValidationMessage("address")</span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Đăng ký </button>
                </div>
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Đã có tài khoản? <a href="@Url.Action("Login", "User", new { area = "" })">Đăng nhập</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
