<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tiêu đề trang web - Mẫu HTML Bootstrap</title>

    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="~/Content/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js" type="text/javascript"></script>

</head>
<body>

    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-12 col-md-12">
                        <a href="@Url.Action("Index", "Home", new { area = "" })" class="brand-wrap">
                            <img class="logo" src="~/Content/images/logo.png">
                        </a> <!-- brand-wrap.// -->
                    </div>
                    <div class="col-xl-6 col-lg-7 col-md-6">
                        <form action="@Url.Action("Search", "Product")" method="get" class="search-header">
                            <div class="input-group w-100">
                                <select class="custom-select border-right" name="searchType">
                                    <option value="Product" @(Request.QueryString["searchType"] == "Product" ? "selected" : "")>Sản phẩm</option>
                                    <option value="Category" @(Request.QueryString["searchType"] == "Category" ? "selected" : "")>Danh mục</option>
                                    <option value="Brand" @(Request.QueryString["searchType"] == "Brand" ? "selected" : "")>Thương hiệu</option>
                                </select>
                                <input type="text" name="query" class="form-control" placeholder="Tìm kiếm sản phẩm, danh mục, thương hiệu" value="@Request.QueryString["query"]">

                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </form> <!-- search-wrap .end// -->
                    </div> <!-- col.// -->


                    <div class="col-xl-4 col-lg-5 col-md-6">
                        <div class="widgets-wrap float-md-right">
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    @if (Session["username"] == null)
                                    {
                                        <a href="@Url.Action("Login", "User", new { area = "" })" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <small class="text"> Đăng nhập </small>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Profile", "User", new { id = Session["UserId"] })" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-user"></i>
                                                <span class="notify">3</span>
                                            </div>
                                            <small class="text">  @Session["username"] </small>
                                        </a>

                                    }
                                </a>
                            </div>
                           
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    @if (Session["username"] == null)
                                    {
                                        <a href="@Url.Action("Login", "User", new { area = "" })" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-store"></i>
                                            </div>
                                            <small class="text"> Đơn hàng </small>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("UserOrder", "User", new { id = Session["UserId"] })" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-store"></i>
                                            </div>
                                            <small class="text"> Đơn hàng </small>
                                        </a>
                                    }
                                </a>
                            </div>

                            <div class="widget-header">
                                <a href="@Url.Action("Index", "Cart", new { area = "" })" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="notify" id="CartCount">
                                            @if (Session["cart"] != null)
                                            {
                                                var cart = (List<BaiBaoCao_ASP.Models.CartModel>)Session["cart"];
                                                @cart.Count}
                                            else
                                            {
                                                @:0
                                            }
                                        </span>
                                    </div>
                                    <small class="text"> Giỏ hàng </small>
                                </a>
                            </div>

                        </div> <!-- widgets-wrap.// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container.// -->
        </section> <!-- header-main .// -->
        <nav class="navbar navbar-main navbar-expand-lg border-bottom">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link  " href="@Url.Action("Index", "Home")"> <i class="fa fa-solid fa-user"></i> Trang chủ </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Product")">Sản phẩm</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("Index", "Category")">Danh mục</a>

                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Content")">Liên hệ</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Post")">Bài viết</a>
                        </li>


                    </ul>

                </div> <!-- collapse .// -->
            </div> <!-- container .// -->
        </nav>

    </header> <!-- section-header.// -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="section-footer bg-secondary">
            <div class="container">
                <section class="footer-top padding-y-lg text-white">
                    <div class="row">
                        <aside class="col-md col-6">
                            <h6 class="title">Thương hiệu</h6>
                            <ul class="list-unstyled">
                                <li> <a href="#">Adidas</a></li>
                                <li> <a href="#">Puma</a></li>
                                <li> <a href="#">Reebok</a></li>
                                <li> <a href="#">Nike</a></li>
                            </ul>
                        </aside>
                        <aside class="col-md col-6">
                            <h6 class="title">Công ty</h6>
                            <ul class="list-unstyled">
                                <li> <a href="#">Về chúng tôi</a></li>
                                <li> <a href="#">Tuyển dụng</a></li>
                                <li> <a href="#">Tìm cửa hàng</a></li>
                                <li> <a href="#">Quy định và điều khoản</a></li>
                                <li> <a href="#">Sơ đồ trang web</a></li>
                            </ul>
                        </aside>
                        <aside class="col-md col-6">
                            <h6 class="title">Trợ giúp</h6>
                            <ul class="list-unstyled">
                                <li> <a href="#">Liên hệ với chúng tôi</a></li>
                                <li> <a href="#">Hoàn tiền</a></li>
                                <li> <a href="#">Tình trạng đơn hàng</a></li>
                                <li> <a href="#">Thông tin vận chuyển</a></li>
                                <li> <a href="#">Mở tranh chấp</a></li>
                            </ul>
                        </aside>
                        <aside class="col-md col-6">
                            <h6 class="title">Tài khoản</h6>
                            <ul class="list-unstyled">
                                <li> <a href="#"> Đăng nhập người dùng </a></li>
                                <li> <a href="#"> Đăng ký người dùng </a></li>
                                <li> <a href="#"> Cài đặt tài khoản </a></li>
                                <li> <a href="#"> Đơn hàng của tôi </a></li>
                            </ul>
                        </aside>
                        <aside class="col-md">
                            <h6 class="title">Mạng xã hội</h6>
                            <ul class="list-unstyled">
                                <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                                <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                                <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                                <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                            </ul>
                        </aside>
                    </div> <!-- row.// -->
                </section>	<!-- footer-top.// -->

                <section class="footer-bottom text-center">

                    <p class="text-white">Chính sách bảo mật - Điều khoản sử dụng - Hướng dẫn thắc mắc thông tin người dùng</p>
                    <p class="text-muted"> &copy 2019 Tên công ty, Bảo lưu mọi quyền </p>
                    <br>
                </section>
            </div><!-- //container -->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
