@model List<BaiBaoCao_ASP.Models.post>

@{
    ViewBag.Title = "Index";
}

<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-10 text-center">
            <h1><b>Tất cả bài viết</b></h1>
            <hr>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="@Url.Action("Details", "Post", new { id = item.id })">
                        <img src="@Url.Content("~/Content/images/posts/" + item.image)" class="card-img-top" alt="@item.title" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body text-center">
                        <a href="@Url.Action("Details", "Post", new { id = item.id })" class="text-decoration-none">
                            <h6 class="text-dark">@item.title</h6>
                        </a>
                        <form action="/cart/add" method="post" class="mt-3">
                            <input type="hidden" name="variantId" value="24344327">
                            <a href="@Url.Action("Details", "Post", new { id = item.id })" class="btn btn-outline-danger btn-block" title="Xem chi tiết">
                                <b>XEM CHI TIẾT</b>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
