@model BaiBaoCao_ASP.Models.HomeModel

@{
    ViewBag.Title = "Trang Chủ";
}

<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="card">
            <div class="card-body">

                <div class="row">
                    <!-- Sidebar for Categories -->
                    <aside class="col-lg-2 col-md-4 flex-lg-grow-0">
                        <h6>Danh Mục</h6>
                        <nav class="nav-home-aside">
                            <ul class="menu-category">
                                @foreach (var item in Model.ListCategory.Take(5))
                                {
                                    <li>
                                        <a href="@Url.Action("ListProductByCategory", "Category", new { id = item.id })">
                                            @item.name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </aside> <!-- col.// -->
                    <!-- Main Content: Carousel -->
                    <div class="col-lg-7 col-md-8">
                        <!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
                        <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="1"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/images/banners/banner1.png" class="d-block w-100" alt="First slide" style="object-fit: contain; ">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/banner2.jpg" class="d-block w-100" alt="Second slide" style="object-fit: contain;  ">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/banner1.jpeg" class="d-block w-100" alt="Third slide" style="object-fit: contain; ">
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Trước</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Tiếp theo</span>
                            </a>
                        </div>
                        <!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->
                    </div> <!-- col.// -->
                    <!-- Right Sidebar for Popular Categories -->
                    <div class="col-lg-3 d-none d-lg-block">
                        <aside class="special-home-right">
                            <h6 class="bg-blue text-center text-white mb-0 p-2">Danh mục phổ biến</h6>
                            @foreach (var item in Model.ListCategory.Where(n => n.status == 1).Take(3))
                            {
                                <div class="card-banner border-bottom mb-2">
                                    <div class="py-3" style="width:70%">
                                        <h6 class="card-title">@item.name</h6>
                                        <a href="#" class="btn btn-secondary btn-sm"> Xem ngay </a>
                                    </div>
                                    <img src="@Url.Content("~/Content/images/categories/" + item.image)" class="card-img-top" style="width:100px;height:100px" alt="@item.name">
                                </div>
                            }
                        </aside>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
                <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    <!-- =============== SECTION DEAL =============== -->

    <section class="padding-bottom">
        <div class="card card-deal">
            <div class="col-heading content-body">
                <header class="section-heading">
                    <h3 class="section-title">Khuyến mãi và Ưu đãi</h3>
                    <p>Thiết bị vệ sinh</p>
                </header><!-- sect-heading -->
                <div class="timer">
                    <div> <span class="num">04</span> <small>Ngày</small></div>
                    <div> <span class="num">12</span> <small>Giờ</small></div>
                    <div> <span class="num">58</span> <small>Phút</small></div>
                    <div> <span class="num">02</span> <small>Giây</small></div>
                </div>
            </div> <!-- col.// -->
            <div class="row no-gutters items-wrap">
                @foreach (var item in Model.ListProduct.Where(n => n.status == 1).Take(3))
                {
                    <div class="col-md col-6 h-100">
                        <figure class="card-product-grid card-sm w-100">
                            <a href="@Url.Action("Details", "Product", new { id = item.id })" class="img-wrap">
                                <img src="@Url.Content("~/Content/images/products/" + item.image)" class="card-img-top" style="width:150px" alt="@item.name">

                            </a>
                            <div class="text-wrap p-3">
                                <a href="@Url.Action("Details", "Product", new { id = item.id })" class="title">@item.name</a>
                                @if (item.pricesale.HasValue)
                                {
                                    <span class="badge badge-danger">
                                        -@Math.Round((1 - (item.pricesale.Value / item.price)) * 100, 0)%
                                    </span>
                                }
                            </div>
                        </figure>
                    </div> <!-- col.// -->
                }
            </div>
        </div>

    </section>
    <!-- =============== SECTION DEAL // END =============== -->
    <!-- =============== SECTION REQUEST =============== -->

    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Yêu cầu báo giá</h4>
        </header>

        <div class="row">
            <div class="col-md-8">
                <div class="card-banner banner-quote overlay-gradient" style="background-image: url('" ~ /Content/images/banners/banner9.jpg');">
                    <div class="card-img-overlay white">
                        <h3 class="card-title">Cách dễ dàng để gửi yêu cầu đến các nhà cung cấp</h3>
                        <p class="card-text" style="max-width: 400px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt.
                        </p>
                        <a href=" class="btn btn-primary rounded-pill">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div> <!-- col // -->
            <div class="col-md-4">

                <div class="card card-body">
                    <h4 class="title py-3">Một yêu cầu, Nhiều báo giá</h4>
                    <form>
                        <div class="form-group">
                            <input class="form-control" name=" placeholder="Bạn đang tìm kiếm gì?" type="text">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Số lượng" name=" type="text">

                                <select class="custom-select form-control">
                                    <option>Cái</option>
                                    <option>Lít</option>
                                    <option>Tấn</option>
                                    <option>Gram</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group text-muted">
                            <p>Chọn loại mẫu yêu cầu:</p>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <div class="form-check-label">Yêu cầu giá</div>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option2">
                                <div class="form-check-label">Yêu cầu mẫu</div>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning">Yêu cầu báo giá</button>
                        </div>
                    </form>
                </div>

            </div> <!-- col // -->
        </div> <!-- row // -->
    </section>

    @foreach (var brand in Model.ListBrand)
    {<!-- =============== SECTION FOR BRAND =============== -->
        <section class="padding-bottom">
            <header class="section-heading heading-line">
                <h4 class="title-section text-uppercase">@brand.name</h4>
            </header>

            <div class="card card-home-category">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <div class="home-category-banner bg-light-orange">
                            <h5 class="title">Sản phẩm xu hướng từ @brand.name</h5>
                            <p>Khám phá các sản phẩm tốt nhất từ @brand.name có sẵn cho bạn.</p>
                            <a href="#" class="btn btn-outline-primary rounded-pill">Xem ngay</a>
                            <img src="@Url.Content("~/Content/images/brands/" + brand.image)" class="img-bg">
                        </div>
                    </div> <!-- col.// -->
                    <div class="col-md-9">
                        <ul class="row no-gutters bordered-cols">
                            @foreach (var product in Model.ListProduct.Where(p => p.brand_id == brand.id).Take(4))
                            {
                                <div class="col-md col-6">
                                    <figure class="card-product-grid card-sm">
                                        <a href="@Url.Action("Details", "Product", new { id = product.id })" class="img-wrap">
                                            <img src="@Url.Content("~/Content/images/products/" + product.image)" alt="@product.name">
                                        </a>
                                        <div class="text-wrap p-3">
                                            <a href="@Url.Action("Details", "Product", new { id = product.id })" class="title">@product.name</a>
                                            @if (product.pricesale.HasValue)
                                            {
                                                <span class="badge badge-danger">
                                                    -@Math.Round((1 - (product.pricesale.Value / product.price)) * 100, 0)%
                                                </span>
                                            }
                                        </div>
                                    </figure>
                                </div>
                                <!-- col.// -->
                            }
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
        </section> <!-- =============== SECTION FOR BRAND END =============== -->}
    <!-- =============== SECTION REQUEST .//END =============== -->
    <!-- =============== SECTION ITEMS =============== -->
    <section class="padding-bottom-sm">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Sản phẩm gợi ý</h4>
        </header>

        <div class="row row-sm">
            @foreach (var item in Model.ListProduct.Where(n => n.status == 3))
            {
                <div class="col-md-3 col-6 h-100">
                    <figure class="card-product-grid card-sm w-100">
                        <a href="@Url.Action("Details", "Product", new { id = item.id })" class="img-wrap">
                            <img src="@Url.Content("~/Content/images/products/" + item.image)" class="card-img-top" style="width:150px" alt="@item.name">

                        </a>
                        <div class="text-wrap p-3">
                            <a href="@Url.Action("Details", "Product", new { id = item.id })" class="title">@item.name</a>
                            @if (item.pricesale.HasValue)
                            {
                                <span class="badge badge-danger">
                                    -@Math.Round((1 - (item.pricesale.Value / item.price)) * 100, 0)%
                                </span>
                            }
                        </div>
                    </figure>
                </div> <!-- col.// -->
            }
        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION ITEMS .//END =============== -->
    <!-- =============== SECTION SERVICES =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Dịch vụ thương mại</h4>
        </header>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/1.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Đảm bảo thương mại</h6>
                        <p class="small text-uppercase text-muted">Bảo vệ đơn hàng</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Thanh toán bất cứ lúc nào</h6>
                        <p class="small text-uppercase text-muted">Giải pháp tài chính</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Giải pháp kiểm tra</h6>
                        <p class="small text-uppercase text-muted">Kiểm tra dễ dàng</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/4.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Vận chuyển đường biển và đường hàng không</h6>
                        <p class="small text-uppercase text-muted">Dịch vụ logistic</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->

    </section>
    <!-- =============== SECTION SERVICES .//END =============== -->
    <!-- =============== SECTION REGION =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Chọn khu vực</h4>
        </header>

        <ul class="row mt-4">
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/CN.png"> <span>Trung Quốc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/DE.png"> <span>Đức</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/AU.png"> <span>Úc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/RU.png"> <span>Nga</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/IN.png"> <span>Ấn Độ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/GB.png"> <span>Anh</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/TR.png"> <span>Thổ Nhĩ Kỳ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/UZ.png"> <span>Uzbekistan</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <i class="mr-3 fa fa-ellipsis-h"></i> <span>Thêm khu vực</span> </a></li>
        </ul>
    </section>
    <!-- =============== SECTION REGION .//END =============== -->

    <article class="my-4">
        <img src="~/Content/images/banners/ad-sm.png" class="w-100">
    </article>
</div>
<!-- container end.// -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="section-subscribe padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center text-white">Cập nhật xu hướng sản phẩm mới nhất và tin tức ngành ngay trong hộp thư của bạn</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <form class="form-row">
                    <div class="col-md-8 col-7">
                        <input class="form-control border-0" placeholder="Email của bạn" type="email">
                    </div> <!-- col.// -->
                    <div class="col-md-4 col-5">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50">Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên thứ ba.</small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
